#disp{
    background-color: bisque;
    color:white;
    border: 10px ridge;
  }
  h1{
    background-color: coral;
    font-size: 20px;
    padding: auto;
    margin: 5px;
  }
  h2{
    padding: auto;
    margin: 5px;
    background-color: rgb(76, 51, 5);
    font-size: 8px;
  }